.case-study-section{
    .insurance-container {
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 94px 0;
      }
      
      .content-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 0 56px;
      }
      
      .section-title {
        color: #000;
        text-align: center;
        align-self: start;
        font: 600 60px "fontspring", sans-serif;
      }
      
      .section-description {
        color: #000;
        margin: 27px 11px 0 0;
        font: 400 24px/32px "Helvetica Neue", sans-serif;
      }
      
      .feature-grid {
        margin-top: 53px;
        display: flex;
        gap: 20px;
      }
      
      .feature-card {
        border-radius: 20px;
        background-color: #E5F5F3;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        padding: 50px 80px 206px;
      }
      
      .feature-icon {
        border-radius: 20px;
        background-color: rgba(32, 62, 64, 0.5);
        width: 136px;
        height: 67px;
      }
      
      .metrics-container {
        border-radius: 35px;
        background-color: rgba(32, 62, 64, 1);
        padding: 69px 80px;
        overflow: hidden;
        margin-top: 71px;
        margin-bottom: 71px;
      }
      
      .metrics-grid {
        display: flex;
        gap: 20px;
      }
      
      .metrics-intro {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 44%;
      }
      
      .metrics-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin: auto 0;
      }
      
      .metrics-heading {
        min-height: 43px;
        color: rgba(229, 245, 243, 1);
        font: 600 66px/1 "fontspring", -apple-system, Roboto, sans-serif;
      }
      
      .metrics-description {
        margin-top: 19px;
        height: 85px;
        width: 272px;
        max-width: 100%;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -0.21px;
        font: 400 21px/29px "fontspring", sans-serif;
        overflow: hidden;
      }
      
      .metrics-data {
        display: flex;
        flex-direction: column;
        width: 56%;
      }
      
      .metrics-row {
        display: flex;
        gap: 20px;
      }
      
      .metrics-row:last-child {
        margin-top: 66px;
      }
      
      .metric-item {
        display: flex;
        height: 108px;
        flex-direction: column;
        overflow: hidden;
        font-family: "Helvetica Neue", sans-serif;
        width: 50%;
      }
      
      .metric-value {
        color: rgba(229, 245, 243, 1);
        font-size: 63px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -1.26px;
      }
      
      .metric-label {
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.24px;
      }
      
      @media (max-width: 991px) {
        .metrics-container {
          padding: 0 20px;
        }
      
        .metrics-grid {
          flex-direction: column;
          align-items: stretch;
          gap: 0;
        }
      
        .metrics-intro {
          width: 100%;
        }
      
        .metrics-content {
          margin-top: 40px;
        }
      
        .metrics-heading {
          font-size: 40px;
        }
      
        .metrics-data {
          width: 100%;
          margin-top: 40px;
        }
      
        .metrics-row {
          flex-direction: column;
        }
      
        .metric-item {
          width: 100%;
          margin-top: 40px;
        }
      
        .metric-value {
          font-size: 40px;
        }
      }
      
      .testimonials-section {
        margin-top: 76px;
        width: 100%;
        max-width: 1389px;
      }
      
      .testimonial-card {
        border-radius: 23px;
        background-color: #fff;
        box-shadow: -2px 3px 17px rgba(0, 0, 0, 0.12);
        padding: 26px;
      }
      
      .testimonial-header {
        display: flex;
        gap: 20px;
      }
      
      .testimonial-image {
        width: 113px;
        border-radius: 13px;
      }
      
      .testimonial-author {
        color: #203E40;
        font: 650 36px/1 "FONTSPRING DEMO - All Round Gothic Semi", sans-serif;
      }
      
      .testimonial-role {
        color: #203E40;
        font: 600 27px/1 "fontspring", sans-serif;
        margin-top: 18px;
      }
      
      .testimonial-content {
        color: #203E40;
        letter-spacing: -0.24px;
        font: 400 24px/32px fontspring, sans-serif;
        margin-top: 25px;
      }
      
      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
      
      @media (max-width: 991px) {
        .insurance-container {
          padding-top: 100px;
        }
        
        .content-wrapper {
          max-width: 100%;
          padding: 0 20px;
        }
        
        .section-title {
          font-size: 40px;
        }
        
        .section-description {
          max-width: 100%;
          margin-right: 10px;
        }
        
        .feature-grid {
          flex-direction: column;
        }
        
        .feature-card {
          max-width: 100%;
          margin-top: 40px;
          padding: 0 20px 100px;
        }
        
        .metrics-container {
          margin-top: 40px;
          padding: 0 20px;
        }
        
        .metrics-content {
          flex-direction: column;
        }
        
        .metrics-intro,
        .metrics-grid {
          width: 100%;
          margin-top: 40px;
        }
        
        .metrics-title {
          font-size: 40px;
        }
        
        .testimonials-section {
          max-width: 100%;
          margin-top: 40px;
        }
        
        .testimonial-card {
          max-width: 100%;
          margin-top: 29px;
          padding-left: 20px;
        }
        
        .testimonial-header {
          flex-direction: column;
        }
        
        .testimonial-image {
          margin-top: 32px;
        }
      }
}

/*banner bottom*/
.frame-274,
.frame-274 * {
  box-sizing: border-box;
}
.frame-274 {
  background: #ffffff;
  border-radius: 34px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.1px;
  height: 367px;
  position: relative;
  box-shadow: -4px 3px 31px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 808px;
    top: -100px;
    left: 25%;
}
.frame-275 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 335px;
  position: absolute;
  left: 115px;
  top: 61px;
}
.introduction {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.why-curota-for-insurance {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.metrics-increased-for-xyz {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.follow-up-targets {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.conclusion {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.client-testimonials {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.group-482032 {
  position: absolute;
  inset: 0;
}
.line-29 {
  margin-top: -2px;
  border-style: solid;
  border-color: rgba(32, 62, 64, 0.24);
  border-width: 2px 0 0 0;
  width: 220px;
  height: 0px;
  position: absolute;
  left: 65px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-482361 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 52px;
  top: 66px;
}
.group-482034 {
  flex-shrink: 0;
  width: 27px;
  height: 27px;
  position: static;
}
.ellipse-9 {
  background: #c6e7e2;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ellipse-16 {
  background: #203e40;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 9px;
  top: 9px;
}
.frame-482362 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 52px;
  top: 66px;
}
.frame-4823612 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-4823622 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-482363 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-482364 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-482365 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-4823623 {
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(32, 62, 64, 0.2);
  border-width: 1px;
  width: 312px;
  height: 120px;
  position: absolute;
  left: 454px;
  top: 51px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.reading-time {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 20px;
}
.frame-4823642 {
  display: flex;
  flex-direction: row;
  gap: 11.72px;
  align-items: center;
  justify-content: flex-start;
  width: 165px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 64px;
}
.mingcute-time-fill {
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 83.33%;
  height: 90.89%;
  position: absolute;
  right: 8.34%;
  left: 8.33%;
  bottom: 0.78%;
  top: 8.33%;
  overflow: visible;
}
._10-mins {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "fontspring", sans-serif;
  font-size: 29.09208106994629px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 226.68px;
}
.group-482033 {
  position: absolute;
  inset: 0;
}
.frame-4823643 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(32, 62, 64, 0.2);
  border-width: 1px;
  width: 307px;
  height: 120px;
  position: absolute;
  left: 450px;
  top: 203px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.frame-4823632 {
  background: #e5f5f3;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(32, 62, 64, 0.2);
  border-width: 1px;
  width: 307px;
  height: 120px;
  position: absolute;
  left: 459px;
  top: 194px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.jump-to {
  color: #000000;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 112px;
  top: 20px;
}
.frame-4823644 {
  display: flex;
  flex-direction: row;
  gap: 11.72px;
  align-items: center;
  justify-content: flex-start;
  width: 249px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 62px;
}
.polygon-4 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 28.85px;
  height: 28.85px;
  position: relative;
  overflow: visible;
}
.testimonials {
  color: rgba(32, 62, 64, 0.7);
  text-align: left;
  font-family: "fontspring", sans-serif;
  font-size: 29.09208106994629px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 226.68px;
}
