@font-face {
  font-family: fontspring;
  src: url(/fonts/Fontspring-DEMO-allroundgothic-demi.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.nav-container-0 {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 1;

  .nav-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
  }

  .nav-wrapper {
    border-radius: 40px;
    background-color: #203e40;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 27px 51px;
  }

  @media (max-width: 991px) {
    .nav-wrapper {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .nav-content {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    .nav-content {
      max-width: 100%;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin: auto 0;
  }

  .logo-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 36px;
    align-self: stretch;
    margin: auto 0;
  }

  .logo-text {
    aspect-ratio: 5.95;
    object-fit: contain;
    object-position: center;
    width: 179px;
    align-self: stretch;
    margin: auto 0;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px 42px;
    text-align: center;
    justify-content: start;
    flex-wrap: wrap;
    font: 16px Helvetica Neue, sans-serif;
  }

  @media (max-width: 991px) {
    .nav-menu {
      max-width: 100%;
    }
  }

  .nav-links {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 40px;
    color: #fff;
    font-weight: 400;
    justify-content: start;
    margin: auto 0;
    list-style-type: none;
  }

  @media (max-width: 991px) {
    .nav-links {
      max-width: 100%;
    }
  }

  .nav-link {
    align-self: stretch;
    margin: auto 0;
    text-decoration: none;
    color: #fff;
  }

  .nav-link-active {
    text-shadow: 0 0 30px #fff;
    font-weight: 700;
  }

  .cta-button {
    border-radius: 16px;
    background-color: #fff;
    align-self: stretch;
    overflow: hidden;
    color: #203e40;
    font-weight: 500;
    min-width: 150px;
    margin: auto 0;
    padding: 11px 16px;
    text-decoration: none;
  }

  .nav-indicator {
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    align-self: center;
    display: flex;
    margin-top: 17px;
    width: 62px;
    height: 12px;
  }

  @media (max-width: 768px) {
    .nav-menu {
      display: none;
    }

    .nav-content {
      padding: 20px;
    }

    .nav-wrapper {
      margin: 0 10px;
    }

    .logo-icon {
      width: 22px;
    }
    .logo-text {
      width: 110px;
    }
    .logo-container {
      gap: 10px;
    }
  }
}

/*hero-section*/
.hero-container-1 {
  top: 0;
  width: 100%;
  height: auto;
  margin-top: -10px;

  .data-labelling-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    overflow: hidden;
    position: relative;
  }

  @media (max-width: 991px) {
    .hero-container {
      max-width: 100%;
    }
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    min-height: 876px;
    margin-top: -5px;
    width: 100%;
    overflow: hidden;
    padding: 240px 70px 123px;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
      padding: 100px 20px;
    }
  }

  .content-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 991px) {
    .content-container {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .two-column-layout {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .two-column-layout {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .left-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .left-column {
      width: 100%;
    }
  }

  .text-content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    margin: auto 0;
    font: 400 18px Helvetica Neue, sans-serif;
  }

  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .tag-container {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    align-self: start;
    display: flex;
    gap: 12px;
    overflow: hidden;
    padding: 3px 10px 9px;
  }

  .tag-icon {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: start;
    display: flex;
    width: 20px;
    height: 20px;
  }

  .tag-text {
    margin: 10px;
    flex-basis: auto;
  }

  .main-heading {
    margin-top: 19px;
    font: 600 48px fontspring, -apple-system, Roboto, Helvetica, sans-serif;
  }

  @media (max-width: 991px) {
    .main-heading {
      max-width: 100%;
      font-size: 40px;
    }
  }

  @media (max-width: 991px) {
    .description {
      max-width: 100%;
      margin-right: 10px;
    }
  }

  .cta-button {
    width: 100%;
    border-radius: 10px;
    background-color: #03c39a;
    align-self: start;
    margin-top: 40px;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 80px;
  }

  @media (max-width: 991px) {
    .right-column {
      width: 100%;
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    position: relative;
    min-height: 513px;
    flex-grow: 1;
    justify-content: center;
    padding: 16px 14px;
  }

  @media (max-width: 991px) {
    .image-container {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .image-frame {
    position: relative;
    border-radius: 40px;
    display: flex;
    height: 482px;
    border: 2px dashed #c6e7e2;
  }

  @media (max-width: 991px) {
    .image-frame {
      max-width: 100%;
    }
  }

  .footer-container {
    position: relative;
    background-color: #203e40;
    display: flex;
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2px 0;
  }

  @media (max-width: 991px) {
    .footer-container {
      max-width: 100%;
    }
  }

  .footer-image {
    aspect-ratio: 16.67;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .footer-image {
      max-width: 100%;
    }
  }

  @media (max-width: 768px) {
    .two-column-layout {
      flex-direction: column-reverse;
    }
    .right-column {
      flex-direction: row;
      margin-left: 0;
    }

    .video-container {
      margin-top: 40px;
    }

    .main-heading {
      font-size: 28px;
    }
    .description {
      font-size: 16px;
      margin: 0;
    }
    .cta-button {
      width: 100%;
    }
  }
  @media (max-width: 1024px) {
    .right-column {
      flex-direction: column;
    }
  }

  .group-482042,
  .group-482042 * {
    box-sizing: border-box;
  }
  .group-482042 {
    position: relative;
  }
  .frame-482385 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 742px;
    height: 452px;
    position: absolute;
    left: 0px;
    top: 40px;
    box-shadow: 0px 6px 11px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    backdrop-filter: blur(6px);
  }
  .frame-482384 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px 24px 24px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px 0px 0px 0px;
    width: 742px;
    /*height: 391px;*/
    position: absolute;
    left: 0px;
    top: 61px;
    box-shadow: 0px 6px 11px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    backdrop-filter: blur(6px);
  }
  .frame-482386 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 742px;
    height: 452px;
    position: absolute;
    left: 23px;
    top: 20px;
    box-shadow: 0px 6px 11px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    backdrop-filter: blur(6px);
  }
  .frame-482387 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 742px;
    height: 452px;
    position: absolute;
    left: 43px;
    top: 0px;
    box-shadow: 0px 6px 11px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    backdrop-filter: blur(6px);
  }
  .screenshot-2024-11-13-at-5-44-51-pm-1 {
    border-style: solid;
    border-color: transparent;
    border-width: 10px;
    width: 793px;
    height: 391px;
    position: absolute;
    left: -20px;
    top: 0px;
    object-fit: cover;
  }
  .frame-482383 {
    border-radius: 20px;
    border-style: dashed;
    border-color: #c6e7e2;
    border-width: 2px;
    width: 720px;
    height: 365px;
    position: absolute;
    left: 12px;
    top: 13px;
  }
  .frame-4823862 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 23px;
    top: 21px;
  }
  .ellipse-22 {
    background: #f06449;
    border-radius: 50%;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
  }
  .ellipse-23 {
    background: #e79f47;
    border-radius: 50%;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
  }
  .ellipse-24 {
    background: #03c39a;
    border-radius: 50%;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    position: relative;
  }
  .drone-001 {
    color: rgba(32, 62, 64, 0.5);
    text-align: center;
    font-family: "HelveticaNeue-Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 586px;
    top: 23px;
  }
  .frame-482388 {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 700px;
    top: 30px;
  }
  .ellipse-25 {
    background: rgba(75, 75, 75, 0.7);
    border-radius: 50%;
    flex-shrink: 0;
    width: 7px;
    height: 7px;
    position: relative;
  }
  .ellipse-26 {
    background: rgba(75, 75, 75, 0.7);
    border-radius: 50%;
    flex-shrink: 0;
    width: 7px;
    height: 7px;
    position: relative;
  }
  .ellipse-27 {
    background: rgba(75, 75, 75, 0.7);
    border-radius: 50%;
    flex-shrink: 0;
    width: 7px;
    height: 7px;
    position: relative;
  }
  .line-30 {
    margin-top: -1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px 0 0 0;
    width: 61px;
    height: 0px;
    position: absolute;
    left: 681px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
}

/*cre-pit*/
.crew-pit {
  .ai-pit-crew {
    background-color: #203e40;
    width: 100%;
    overflow: hidden;
    padding: 52px 70px 120px;
  }

  @media (max-width: 991px) {
    .ai-pit-crew {
      max-width: 100%;
      padding: 0 20px 100px;
    }
  }

  .content-wrapper {
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 0;
    }
  }

  .text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .text-column {
      width: 100%;
    }
  }

  .text-content {
    display: flex;
    align-items: center;
    gap: 40px 202px;
    justify-content: start;
    font: 400 20px "Helvetica Neue", sans-serif;
  }

  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .text-wrapper {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: start;
    margin: auto 0;
    padding: 0 2px 11px;

    ul li::marker {
      color: #fff;
    }
  }

  @media (max-width: 991px) {
    .text-wrapper {
      max-width: 100%;
    }
    .client-stories-button {
      width: 100%;
    }
  }

  .main-heading {
    font: 600 48px/1 "fontspring", -apple-system, Roboto, Helvetica, sans-serif;
    color: #cfebe7;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 991px) {
    .main-heading {
      font-size: 40px;
    }
  }

  .subheading {
    color: #cfebe7;
    line-height: 1;
    letter-spacing: -0.2px;
    margin-top: 0px;
  }

  @media (max-width: 991px) {
    .subheading {
      max-width: 100%;
    }
  }

  .description {
    color: #fff;
    line-height: 27px;
    letter-spacing: -0.2px;
    align-self: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: 991px) {
    .description {
      max-width: 100%;
    }
  }

  .client-stories-button {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    gap: 11px;
    overflow: hidden;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;
    font-weight: 500;
    text-align: center;
    padding: 15px 17px;
  }

  .button-text {
    flex-grow: 1;
  }

  .button-icon {
    aspect-ratio: 1.5;
    object-fit: contain;
    object-position: center;
    width: 21px;
    margin: auto 0;
  }

  .image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
  }

  @media (max-width: 991px) {
    .image-column {
      width: 100%;
    }
  }

  .image-wrapper {
    border-radius: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  @media (max-width: 991px) {
    .image-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .main-image {
    aspect-ratio: 1.75;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .main-image {
      max-width: 100%;
    }
  }
}

/*welcom-container*/
.welcome-container {
  .welcome-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 44px 53px 44px;
  }

  @media (max-width: 991px) {
    .welcome-section {
      padding: 0 20px;
    }
  }

  .content-wrapper {
    align-self: center;
    width: 100%;
    max-width: 1324px;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
    }
  }

  .header-container {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .header-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }

  .left-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 0;
  }

  @media (max-width: 991px) {
    .left-column {
      width: 100%;
    }
  }

  .left-line {
    margin-top: 129px;
    width: 270px;
    max-width: 100%;
    height: 1px;
  }

  @media (max-width: 991px) {
    .left-line {
      margin-top: 40px;
    }
  }

  .center-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
  }

  @media (max-width: 991px) {
    .center-column {
      width: 100%;
    }
  }

  .welcome-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #203e40;
    text-align: center;
  }

  @media (max-width: 991px) {
    .welcome-content {
      max-width: 100%;
      margin-top: 25px;
    }
  }

  .welcome-header {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 64px;
    font-weight: 400;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: 991px) {
    .welcome-header {
      font-size: 40px;
    }
  }

  .welcome-text {
    font-family: "fontspring", -apple-system, Roboto, Helvetica, sans-serif;
    align-self: stretch;
    margin: auto 0;
  }

  @media (max-width: 991px) {
    .welcome-text {
      font-size: 40px;
    }
  }

  .logo {
    aspect-ratio: 5.81;
    object-fit: contain;
    object-position: center;
    width: 309px;
    align-self: stretch;
    min-width: 240px;
    margin: auto 0;
  }

  .exclamation {
    font-family: "Bricolage Grotesque", -apple-system, Roboto, Helvetica,
      sans-serif;
    align-self: stretch;
    margin: auto 0;
  }

  @media (max-width: 991px) {
    .exclamation {
      font-size: 40px;
    }
  }

  .welcome-description {
    margin-top: 0px;
    font: 500 24px "Helvetica Neue", sans-serif;
  }

  @media (max-width: 991px) {
    .welcome-description {
      max-width: 100%;
      margin-right: 9px;
    }
  }

  .right-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 21%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .right-column {
      width: 100%;
    }
  }

  .right-line {
    margin-top: 128px;
    width: 270px;
    max-width: 100%;
    height: 1px;
  }

  @media (max-width: 991px) {
    .right-line {
      margin-top: 40px;
    }
  }

  .features-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
  }

  @media (max-width: 991px) {
    .features-container {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .feature-card {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    align-self: stretch;
    display: flex;
    width: 320px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin: auto 0;
    padding: 14px;
    border: 1px solid #fff;

    .back {
      display: none;
    }
  }

  .feature-title {
    color: #203e40;
    align-self: stretch;
    font: 400 32px "fontspring", Helvetica, sans-serif;
    margin: 8px 0 22px 0;
    text-transform: uppercase;
  }

  .feature-icon {
    background-color: #e79f47;
    border-radius: 50%;
    display: flex;
    margin-top: 43px;
    width: 100px;
    height: 100px;
  }

  @media (max-width: 991px) {
    .feature-icon {
      margin-top: 40px;
    }
  }

  .feature-image {
    aspect-ratio: 1.96;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    max-width: 100%;
    height: 300px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #c6e7e2 0%, #e7f6f4 100%);
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 24px;
  }

  .feature-description {
    color: #ababab;
    margin-top: 43px;
    font: 700 20px "Helvetica Neue", sans-serif;
  }

  @media (max-width: 991px) {
    .feature-description {
      margin-top: 40px;
    }
  }

  .footer-text {
    align-self: end;
    display: flex;
    margin-top: 56px;
    width: 100%;
    max-width: 1382px;
    gap: 40px 62px;
    color: #203e40;
    text-align: center;
    flex-wrap: wrap;
    font: 500 16px "Helvetica Neue", sans-serif;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    .footer-text {
      max-width: 100%;
      margin: 40px 8px 0 0;
    }
  }

  .footer-paragraph {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 500;
    font-family: Helvetica Neue, sans-serif;
  }

  @media (max-width: 768px) {
    .welcome-text {
      font-size: 32px;
    }
    .welcome-description {
      margin: 0;
      font-size: 14px;
    }

    .feature-card {
      min-height: 200px;
      width: 160px;
      margin: 10px 0px;
    }

    .feature-title {
      font-size: 16px;
    }
    .features-container {
      justify-content: space-around;
      margin-bottom: 40px;
    }
  }
  @media (max-width: 1024px) {
    .features-container {
      justify-content: space-evenly;
    }
  }

  .feature-card {
    min-height: 402px;
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(
        180deg,
        rgba(198, 231, 226, 1) 0%,
        rgba(231, 246, 244, 1) 100%
      );
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  }
  .feature-card .front,
  .feature-card .back {
    backface-visibility: hidden;
    transition: transform 0.6s;
  }

  .feature-card .front {
    transform: rotateY(0deg);
  }

  .feature-card .back {
    transform: rotateY(180deg);
    display: none;
    color: #ababab;
    font-weight: 700px;

    .feature-title {
      color: #ababab;
    }

    .footer-paragraph {
      margin-top: 70px;
    }

    .read-more {
      background: rgba(32, 62, 64, 0.2);
      border-radius: 20px;
      height: 64px;

      a {
        border-radius: 20px;
        background-color: rgba(32, 62, 64, 0.2);
        align-self: stretch;
        display: flex;
        margin-top: 70px;
        width: 100%;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        padding: 23px 64px;
        color: #203e40;
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  .feature-card:hover .front {
    transform: rotateY(-180deg);
    display: none;
  }

  .feature-card:hover .back {
    transform: rotateY(0deg);
    display: block;
  }
}

/*contactus-container*/
.contactus-container {
  .footer-contact {
    background-color: #203e40;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .footer-background {
    background-color: #203e40;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 131px 80px;
    margin: auto;
    max-width: 1440px;
  }

  @media (max-width: 991px) {
    .footer-background {
      max-width: 100%;
      padding: 100px 20px;
    }
  }

  @media (max-width: 1024px) {
    .footer-background {
      padding: 40px;
    }
  }

  .contact-form-header {
    border-radius: 5.252px;
    border: 1.575px solid #203e40;
    background-color: rgba(255, 255, 255, 0.38);
    align-self: flex-end;
    margin-right: 145px;
    width: 508px;
    max-width: 100%;
    color: #203e40;
    background: #fff;
    padding: 19px 26px 32px;
    font: 400 17px Helvetica Neue, sans-serif;
  }

  @media (max-width: 991px) {
    .contact-form-header {
      margin-right: 10px;
      padding: 0 20px;
    }
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    fill: var(
      --gradient-light,
      url(<path-to-image>) lightgray 0% 0% / 15.000000596046448px
        15.000000596046448px repeat,
      linear-gradient(180deg, #e7f6f4 0%, #c6e7e2 100%)
    );
    overflow: hidden;
    position: relative;
    min-height: 624px;
    width: 1357px;
    max-width: 100%;
    align-items: center;
    margin: 29px 0 -28px;
    padding: 0 70px 160px;
  }

  @media (max-width: 991px) {
    .contact-content {
      margin-bottom: 10px;
      padding: 0 20px 100px;
    }
  }

  .background-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  @media (max-width:991px) {
    .background-image.desktop{
      display: none;
    }
    .background-image.mobile{
      display: block;
      border-radius: 20px;
      margin-top: 2px;
    }
  }
  @media (min-width:991px) {
    .background-image.desktop{
      display: block;
    }
    .background-image.mobile{
      display: none;
    }
  }

  .contact-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  @media (max-width: 991px) {
    .contact-wrapper {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .contact-row {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .contact-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .contact-info {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .contact-details {
    position: relative;
    display: flex;
    margin-top: 189px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-family: Helvetica Neue, sans-serif;
    color: #000;
  }

  @media (max-width: 991px) {
    .contact-details {
      margin-top: 40px;
    }
  }

  .contact-heading {
    color: #203e40;
    font: 650 46px/1 "fontspring", -apple-system, Roboto, Helvetica, sans-serif;
  }

  @media (max-width: 991px) {
    .contact-heading {
      font-size: 40px;
    }
  }

  .contact-description {
    color: #203e40;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    align-self: stretch;
    margin-top: 35px;
  }

  .contact-cta {
    font-size: 19px;
    font-weight: 500;
    margin-top: 59px;
  }

  @media (max-width: 991px) {
    .contact-cta {
      margin-top: 40px;
    }
  }

  .contact-phone {
    display: flex;
    margin-top: 29px;
    gap: 10px;
    font-size: 15px;
  }

  .contact-phone-label {
    background-blend-mode: normal;
    font-weight: 400;
    flex-grow: 1;
  }

  .contact-phone-number {
    font-weight: 500;
  }

  .contact-email {
    display: flex;
    margin-top: 16px;
    gap: 9px;
    font-size: 15px;
  }

  .contact-email-label {
    background-blend-mode: normal;
    font-weight: 400;
    flex-grow: 1;
  }

  .contact-email-address {
    font-weight: 500;
    flex-basis: auto;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: max-content;
    border-radius: 15px;
  }

  @media (max-width: 991px) {
    .contact-form {
      width: 100%;
    }
  }

  .form-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #203e40;
    font: 400 17px Helvetica Neue, sans-serif;
    padding: 25px;
  }

  @media (max-width: 991px) {
    .form-container {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .form-input {
    border-radius: 5.252px;
    border: 1.05px solid #203e40;
    background-color: rgba(255, 255, 255, 0.3);
    background: #fff;
    padding: 24px 26px;
    margin-bottom: 21px;
  }

  @media (max-width: 991px) {
    .form-input {
      max-width: 100%;
      padding: 24px 20px;
    }
  }

  .form-textarea {
    border-radius: 5.252px;
    border: 1.05px solid #203e40;
    background-color: rgba(255, 255, 255, 0.3);
    background: #fff;
    padding: 19px 26px 110px;
    margin-bottom: 21px;
  }

  @media (max-width: 991px) {
    .form-textarea {
      max-width: 100%;
      padding: 19px 20px 110px;
    }
  }

  .form-checkbox {
    align-self: flex-start;
    display: flex;
    gap: 14px;
    color: #303030;
  }

  .checkbox-input {
    border-radius: 3.151px;
    border: 1.575px solid #a4a4a4;
    background: #fff;
    width: 23px;
    height: 23px;
  }

  .checkbox-label {
    flex-basis: auto;
    flex-grow: 1;
  }

  .submit-button {
    border-radius: 11px;
    background-color: #03c39a;
    box-shadow: 0px 25px 36px rgba(32, 70, 100, 0.1);
    align-self: flex-start;
    margin-top: 35px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding: 17px 30px;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    .submit-button {
      padding: 17px 20px;
    }
  }

  @media (max-width: 768px) {
    .background-image {
      height: unset;
    }
    .contact-heading {
      font-size: 20px;
      margin-top: 0;
    }
    .contact-description {
      font-size: 12px;
      margin-top: 0;
      line-height: 18px;
      max-width: 260px;
    }
    .contact-form {
      margin-left: 0;
    }
    .submit-button {
      width: 100%;
    }
    .contact-content {
      padding: 0 20px;
    }
    .footer-background {
      padding: 20px;
    }
  }
}

/*footer-contaienr*/
.footer-container-2 {
  .footer-container {
    background-color: #203e40;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 101px 80px;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    display: flex;
    width: 100%;
    max-width: 1133px;
    flex-direction: column;
  }

  .footer-main {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }

  .logo-container {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
  }

  .logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 112px;
  }

  .logo-text {
    aspect-ratio: 5.99;
    object-fit: contain;
    object-position: center;
    width: 114px;
    margin-top: 18px;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, sans-serif;
    color: #fff;
  }

  .footer-heading {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 23px;
  }

  .footer-links {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.8;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
  }

  .contact-row {
    display: flex;
    gap: 33px;
    margin-bottom: 16px;
  }

  .contact-label {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.7;
  }

  .contact-value {
    font-size: 15px;
    font-weight: 500;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    font: 500 19px Helvetica Neue, sans-serif;
  }

  .social-icons {
    aspect-ratio: 3.8;
    object-fit: contain;
    object-position: center;
  }

  .footer-divider {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 57px 0 31px;
  }

  .copyright {
    color: #fff;
    text-align: center;
    opacity: 0.75;
    font: 400 15px Helvetica Neue, sans-serif;
  }

  @media (max-width: 991px) {
    .footer-container {
      padding: 100px 20px 0;
    }

    .footer-content {
      max-width: 100%;
    }

    .footer-main {
      max-width: 100%;
      margin-right: 10px;
      flex-wrap: wrap;
    }

    .contact-value {
      margin-top: 40px;
    }

    .social-container {
      white-space: normal;
    }

    .footer-divider {
      margin-top: 40px;
    }
  }
  @media (max-width: 768px) {
    .contact-value {
      margin-top: 0;
    }
  }
}

.green-background {
  background-color: #203e40;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .green-background{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.background-img-container {
  background-image: url("/img/background-image-0.png");
}
/*video cs*/
.video-container {
  position: relative;
  height: 492px;
  border-radius: 20px; /* Adjust as needed */
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Match container border radius */
}

.rotating-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f2f2f2; /* Border color */
  stroke-width: 3;
  stroke-dasharray: 20 10; /* Dash and gap lengths */
  stroke-dashoffset: 0;
  animation: dash-move 9s linear infinite;
  transition: stroke-dashoffset 2s linear;
}

@keyframes dash-move {
  0%,
  40% {
    /* 0-3.6s: stay still initially */
    stroke-dashoffset: 0;
  }
  55% {
    /* 3.6-5s: rotate clockwise */
    stroke-dashoffset: -300;
  }
  55.01%,
  62.66% {
    /* 5-6s: pause after clockwise */
    stroke-dashoffset: -300;
  }
  70% {
    /* 6-7s: rotate anticlockwise */
    stroke-dashoffset: 100;
  }
  70.01%,
  100% {
    /* 7-8s: pause after anticlockwise */
    stroke-dashoffset: 100;
  }
}

/*sticky nav bar*/
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #203e40;
}

/*metrics-container*/
.metric-container-1 {
  margin: 96px 164px;

  @media(max-width:1024px) {
    margin: 40px;
  }

  .metrics-container {
    justify-content: flex-end;
    border-radius: 35.273px;
    overflow: hidden;
    padding: 80px 40px;
    background-image: url('/img/background-image-0.png');
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: auto;
  }
  
  @media (max-width: 991px) {
    .metrics-container {
      padding: 40px 20px;
    }
  }
  
  .metrics-content {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .metrics-content {
      flex-direction: column;
      align-items: stretch;
      gap: 40px;
    }
  }
  
  .metrics-description {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
  }
  
  @media (max-width: 991px) {
    .metrics-description {
      width: 100%;
    }
  }
  
  .metrics-title {
    color: #203E40;
    font: 600 66px/1 "fontspring", -apple-system, Roboto, Helvetica, sans-serif;
    min-height: 43px;
  }
  
  @media (max-width: 991px) {
    .metrics-title {
      font-size: 40px;
    }
  }
  
  .metrics-text {
    margin-top: 0px;
    letter-spacing: -0.21px;
    font: 400 21px/29px Roboto, sans-serif;
    color: #203E40;
  }
  
  .metrics-data {
    display: flex;
    flex-direction: column;
    width: 56%;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .metrics-data {
      width: 100%;
    }
  }
  
  .metrics-row {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .metrics-row {
      flex-direction: column;
      gap: 40px;
    }
  }
  
  .metric-item {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: #203E40;
    width: 50%;
  }
  
  @media (max-width: 991px) {
    .metric-item {
      width: 100%;
    }
  }
  
  .metric-value {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.26px;
  }
  
  @media (max-width: 991px) {
    .metric-value {
      font-size: 40px;
    }
  }
  
  .metric-label {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.24px;
    margin-top: 5px;
  }

  @media(max-width :768px) {
    margin: 0 20px;
  }
}

/* welcome-to section */
.welcometo-container-1 {
  .welcometo-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    align-items: center;
  }
  .welcometo-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    max-width: 744px;
  }
  .welcometo-header {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 64px;
    font-weight: 400;
    justify-content: center;
    flex-wrap: wrap;
  }
  .welcometo-text,.welcometo-text-dash {
    color: rgba(231, 246, 244, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #e7f6f4;
  }
  .welcometo-text{
    font-family: fontspring;
  }
  .logo {
    aspect-ratio: 5.81;
    object-fit: contain;
    object-position: center;
    width: 309px;
    align-self: stretch;
    min-width: 240px;
    margin: auto 0;
  }
  .tagline {
    color: rgba(231, 246, 244, 1);
    margin-top: 34px;
    font-family: "Helvetica Neue";
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .features-grid {
    display: flex;
    margin-top: 91px;
    align-items: start;
    gap: 32px;
    justify-content: start;
    flex-wrap: wrap;
  }
  .feature-card {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    min-width: 240px;
    padding-bottom: 130px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 30%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-height: 619px;
  }
  .card-header {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    border-bottom-width: 1px;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: start;
    justify-content: center;
    padding: 24px 19px;
  }
  .header-dots {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: start;
  }
  .dot-red {
    background-color: rgba(240, 100, 73, 1);
    border-radius: 50%;
    align-self: stretch;
    display: flex;
    width: 18px;
    height: 18px;
    margin: auto 0;
  }
  .dot-yellow {
    background-color: rgba(231, 159, 71, 1);
    border-radius: 50%;
    align-self: stretch;
    display: flex;
    width: 18px;
    height: 18px;
    margin: auto 0;
  }
  .dot-green {
    background-color: rgba(3, 195, 154, 1);
    border-radius: 50%;
    align-self: stretch;
    display: flex;
    width: 18px;
    height: 18px;
    margin: auto 0;
  }
  .image-grid {
    display: flex;
    margin-top: 70px;
    width: 226px;
    max-width: 100%;
    align-items: start;
    gap: 14px;
    justify-content: start;
    flex-wrap: wrap;
  }
  .grid-image {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 101px;
    border-radius: 28px;
    box-shadow: -3px 6px 28px rgba(0, 0, 0, 0.15);
  }
  .why-section {
    display: flex;
    margin-top: 37px;
    width: 379px;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .why-header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    font-family: "fontspring", -apple-system,
      Roboto, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    justify-content: start;
  }
  .why-text {
    font-size: 42px;
    color: #e7f6f4;
  }
  .why-logo {
    aspect-ratio: 5.78;
    object-fit: contain;
    object-position: center;
    width: 202px;
    align-self: stretch;
    margin: auto 0;
  }
  .why-description {
    color: rgba(255, 255, 255, 1);
    margin-top: 13px;
    font: 500 24px "Helvetica Neue", sans-serif;
  }
  .benefits-container {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    flex-basis: 0%;
    gap: 20px;
  }
  .benefits-row {
    display: flex;
    min-height: 300px;
    width: 100%;
    gap: 23px;
    justify-content: start;
    flex-wrap: wrap;
  }
  .benefit-card {
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    min-width: 240px;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    flex-basis: 0%;
    padding: 23px;
  }
  .benefit-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 72px;
    border-radius: 20px;
    box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.15);
  }
  .benefit-content {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    font-family: "Helvetica Neue", sans-serif;
    justify-content: start;
  }
  .benefit-title {
    background: linear-gradient(
    180deg,
    rgba(231, 246, 244, 1) 0%,
    rgba(198, 231, 226, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  margin: 0;
  }
  .benefit-description {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 0;
  }
  @media (max-width: 991px) {
    .welcometo-section {
      padding: 0 20px 100px;
    }
    .header-container {
      max-width: 100%;
      margin-right: 9px;
    }
    .header-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
    .left-border,
    .right-border {
      margin-top: 40px;
    }
    .welcometo-content {
      max-width: 100%;
      margin-top: 25px;
    }
    .welcometo-header {
      font-size: 40px;
    }
    .welcometo-text {
      font-size: 40px;
    }
    .tagline {
      max-width: 100%;
      margin-right: 9px;
    }
    .features-grid {
      margin-top: 40px;
    }
    .feature-card {
      max-width: 100%;
    }
    .card-header {
      max-width: 100%;
      padding-right: 20px;
    }
    .image-grid {
      margin-top: 40px;
    }
    .why-header {
      white-space: initial;
    }
    .benefits-container,
    .benefits-row,
    .benefit-card {
      max-width: 100%;
    }
    .benefit-card {
      padding: 0 20px;
    }
  }
  @media (max-width: 640px) {
    .feature-card {
      margin-bottom: -4px;
    }
  }
}

/*carousel*/
.case-studies-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 762px;
  align-items: center;
  padding: 102px 0;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.section-title {
  position: relative;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  font: 600 54px "fontspring", -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 65px;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cards-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 25px;
}

.card {
  border-radius: 37px;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 0 0 469px;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 107px 80px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card-image {
  aspect-ratio: 1.01;
  object-fit: contain;
  object-position: center;
  width: 124px;
  max-width: 100%;
}

.card-special {
  border-radius: 37px;
  background-color: rgba(0, 0, 0, 0.1);
  flex: 0 0 469px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: end;
  justify-content: center;
  padding: 138px 29px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card-special-image {
  aspect-ratio: 1.02;
  object-fit: contain;
  object-position: center;
  width: 62px;
  border-radius: 19px;
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.1);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  border: 1.86565px solid rgba(0, 0, 0, 0.15);
box-shadow: 0px 7.4626px 16.7909px rgba(0, 0, 0, 0.1);
border-radius: 18.6565px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.progress-container {
  position: relative;
  border-radius: 22px;
  background-color: rgba(32, 62, 64, 0.1);
  width: 300px;
  height: 9px;
  margin-top: 83px;
  overflow: hidden;
}

.progress-bar {
  background-color: rgba(3, 195, 154, 1);
  height: 100%;
  width: 16.67%;
  transition: width 0.3s ease;
}

@media (max-width: 991px) {
  .case-studies-wrapper {
    padding-bottom: 100px;
  }
  
  .section-title {
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .card, .card-special {
    flex: 0 0 300px;
    padding: 100px 20px;
  }
  
  .carousel-button {
    width: 40px;
    height: 40px;
  }
  
  .progress-container {
    margin-top: 40px;
  }
}